@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.mt-15{
  margin-top: 15px;
}
.w-100{
  width: 100%;
}
.w-40{
  width: 30%;
}
.w-70{
  width: 70%;
}
.w-60{
  width: 65%;
}
.mr-15{
  margin-right: 15px;
}
.mb-20{
  margin-bottom: 30px;
}
.max-h{
  max-height: 91vh;
}
.h-100{
  height: 100vh;
}
.h-auto{
  height: auto;
}
.p-15{
  padding: 15px;
}
.p-20-0{
  padding: 0 20px;
}
.d-flex{
  display: flex;
}
.text-left{
  text-align: left;
}
.align-start{
  align-items: start;
}

.wrap{
  flex-wrap: wrap;
}

.just-center{
  justify-content: center;
}
.overflow{
  overflow: hidden;
}
.homeImg{
  display: flex;
  position: sticky;
  width: 100%;
  height: 90vh;

}
.homeTittle{
  position: absolute;
  font-size: 33px;
  top:20%;
  left: 36%;
  font-family: 'Major Mono Display', monospace;
  color: white;
  z-index: 1;
  animation-name: title;
  animation-duration: 1s;
  animation-direction: alternate;
  text-shadow: 2px 4px 4px #b8cce2;

}
@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-80vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }

}
.homeDescription{
  width: 500px;
  font-family: 'Major Mono Display', monospace;
  position: absolute;
  top: 45%;
  left: 58%;
  color: white;
  z-index: 1;
  text-align:left;
  animation-name: description;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes description {
  0% {
    opacity: 0;
    transform: translateY(15vw);
  }
  100% {
    opacity: 1;
    transform: translateY(0vw);
  }
}

.greeting{
  width: 90%;
  text-align: right;
  margin: 10px 0 0 0;
}

#addRecipe{
  margin-top: 20px;
  background-color: #212C32;
  border-radius: 10px 0 10px 0;
}
#addRecipe:hover{
  background-color: #b55656;
  color: white;
  border-radius: 0 10px 0 10px ;
}
.uploadMain{
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.previewField{
  margin: 5px;
  width: 50%;
  height: 430px;
  overflow: auto;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.75);
  padding: 20px;
  background-color: #f5e9ee;
}
.previewField img{
  width: 180px;
  margin: 5px;

}
.upload{
  width: 35%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.75);
  padding: 20px;
  background-color: #acc9d7;
}
.upload button{
  padding: 5px;
  margin: 3px 0;
  background-color: #b55656;
  color: white;
  cursor: pointer;
}
.upload button:hover{
  background-color: #f5e9ee;
  color: black;
}
.ingredientsDiv{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ingredientsDiv input{
  width: 47%;
}
.error{
  color: red;
}
.nav{
  position: sticky;
  left: 0; right: 0; top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: #212C32;
  z-index: 1;
}
.nav a{
  margin: 0 50px 0 50px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.nav a:hover{
  color: yellow;
  text-shadow: 2px 4px 4px #b8cce2;
}
.recipeCard{
  position: relative;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(251,222,223,1) 22%, rgba(33,44,50,1) 45%, rgba(255,255,255,0) 52%);
  margin: 10px;
  box-shadow: 3px 3px 12px 0 rgba(0,0,0,0.75);
}
.search-recipeCard{
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(251,222,223,1) 22%, rgba(33,44,50,1) 45%, rgba(255,255,255,0) 52%);
  margin: 10px;
  box-shadow: 3px 3px 12px 0 rgba(0,0,0,0.75);
}
.recipeCardImg{
  margin: 10px;
  width: 90%;
  height: 170px;
  background-position: center;
  background-size: cover;
}
.moreBtn{
  background-color: #212C32;
  color: white;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 15px 0 15px 0;
}
.moreBtn:hover{
  background-color: #752222;
  border-radius: 0 15px 0 15px;
}
.trash{
  position: absolute;
  left: 87%;
  width: 20px;
  cursor: pointer;
  transition: transform .1s;
}
.yes{
  color: green;
  cursor: pointer;
  margin:4px 4px 4px 10px;
  transition: transform .1s;
}
.yes:hover{
  transform: scale(1.6);
}
.no{
  color: red;
  cursor: pointer;
  margin:4px;
  transition: transform .1s;
}
.no:hover{
  transform: scale(1.6);
}
.trash:hover{
  transform: scale(1.2);
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
}
.flex{
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #eff3f3;
  box-shadow: 0px 0px 10px 1px rgba(33,44,50,1);
  padding: 70px;
  border-radius: 40px 0 40px 0;
}
.none{
  display: none;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}
.singleRecipeCard{
  margin: 20px;
  padding: 20px;
  width: 95%;
  height: auto;
  display: flex;
}
.singleRecipeCard img{
  margin-top: 30px;
  width: 90%;
  margin-right: 20px;
}
.singleRecipeInfo{
  display: flex;
  flex-direction: column;
  width: 1000px;
}
.addToFavorite{
  position: absolute;
  top: 15%;
  left: 90%;
  width: 45px;
  cursor: pointer;
  transition: transform .2s;
}
.addToFavorite:hover{
  transform: scale(1.3);
}

.comments{
  padding: 10px 50px 50px 50px;
  margin: 10px 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.comments input{
  padding: 10px;
  margin: 10px;
  background-color: #b3c8c8;
}
.comments textarea{
  padding: 10px;
  margin: 10px;
  height: 200px;
}
.addReviewBtn{
  padding: 10px;
  background-color: #212C32;
  margin: 20px 0 0 0;
  cursor: pointer;
  color: white;
  border-radius: 15px 0 15px 0;
}
.addReviewBtn:hover{
  background-color: #752222;
  color: white;
  border-radius: 0 15px 0 15px;
}
.reviewMain{
  display: flex;
  background-color: #dbe7e7;
}
.usersReview{
  width: 40%;
  padding: 10px;
  margin: 10px 0 0 0;
  height: 500px;

}
.usersReviewMain{
  max-height: 430px;
  overflow: auto;
}
.usersReview h3, p{
  margin:0;
}
.userCom{
  width: 90%;
  text-align: left;
  margin: 20px 10px 10px 10px;
  box-shadow: 3px 3px 12px 0 rgba(0,0,0,0.75);
  padding: 10px;
  border-radius: 0 0 20px 0;
}
.star{
  margin: 0;
  font-size: 25px;
  color: yellow;
}
.rateInfo{
  display: flex;
  justify-content: left;
  align-items: center;
}
.reviewRate{
  margin-left: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  position: fixed;
  left: 0; right: 0; bottom: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
}
.searchMain{
  width: 97%;
  display: flex;
  justify-content: space-between;
}
.searchInput{
  width: 87%;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid grey;
  font-size: 14px;
}
.searchInput:focus{
  outline: none;
}

.searchInp-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 35%;
}
.search-input-div{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.searchIcon{
  font-size: 30px;
  color: #878c92;
  position: absolute;
  left:85%;
  top:30%;
}
.search-result-main{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.search-result-main h4{
  margin: 20px 0 0 0;
}

.searchResult{
  padding: 10px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}
.keyword{
  margin: 10px;
  font-size: 23px;
  color: #212C32;
}
.keyword-div{
  display: flex;
  flex-wrap: wrap;
}
.keyword-icon{
  font-size: 20px;
  padding: 5px 15px;
  margin: 10px 10px 10px 0;
  transition: transform .5s
}
.keyword-icon:hover{
  color: #752222;
  cursor: pointer;
  transform: rotate(360deg);
}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: yellow;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px yellow;
}

.anim{
  animation-name: fade;
  animation-duration: 0.7s;
}

@keyframes fade {
  0% {
    transform: rotate(10deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(33,44,50,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(33,44,50,0.5);
}